<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163210128404-kg8qncg9ulu185d8ki72cafnvteuceal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163210128404-kg8qncg9ulu185d8ki72cafnvteuceal</string>
	<key>API_KEY</key>
	<string>AIzaSyB_rg2ETZDnlVS2td7T-JZ0LatYHL2Bj90</string>
	<key>GCM_SENDER_ID</key>
	<string>163210128404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yigitkarakurt.MyChatSwiftUI-Firebase</string>
	<key>PROJECT_ID</key>
	<string>mychatswiftui-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatswiftui-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163210128404:ios:181662e93516b17f094b01</string>
</dict>
</plist>